on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - "v*"

name: Release policy

jobs:
  test:
    name: run tests and linters
    uses: kubewarden/github-actions/.github/workflows/reusable-test-policy-rust.yml@605a03917fbc6b4b523145a1a78cf72a680f5f36 # v4.5.12

  release:
    needs: test
    permissions:
      # Required to create GH releases
      contents: write
      # Required to push to GHCR
      packages: write
      # Required by cosign keyless signing
      id-token: write
    uses: kubewarden/github-actions/.github/workflows/reusable-release-policy-rust.yml@605a03917fbc6b4b523145a1a78cf72a680f5f36 # v4.5.12
    with:
      oci-target: ghcr.io/${{ github.repository_owner }}/policies/pod-privileged

  release-catalog:
    needs: release
    uses: kubewarden/github-actions/.github/workflows/reusable-release-policy-catalog.yml@605a03917fbc6b4b523145a1a78cf72a680f5f36 # v4.5.12
    secrets:
      # Required to dispatch the release event to the policy-catalog repository
      APP_ID: ${{ secrets.APP_ID }}
      APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
